@CHARSET "UTF-8";
body
{
    background-image:url('Background.jpg');
    background-size:100% 35%;

}
button, input{
    background-color: #555;
    color: white;
    padding: 10px 20px;
    border: none;
    opacity: 0.8;
    text-align: center;

}
#a {
    font-size: 40px;
    font-style: italic;
    color: white;

}
table {
    border: 10px solid #9F354B;
    border-collapse: collapse;
    border-spacing: 20px;
    margin: 0 auto;
    color: #9F353A;
}
th {
    border: 1px solid #B5495B;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    color: #9F353A;
    background-color: #F8C3CD;


}
td {
    border: 1px solid #B5495B;
    padding: 15px;
    background-color: #DB4D6D;
    text-align: center;
    color: #FEDFE1;
// 更加灵活的位置摆放参考flex布局
font-size: 15px;
}
div {
    line-height: 40px;
    width: 400px;
    height: 300px;
    text-align: center;
    background-color: #FEDFE1;
    font-size: 20px;
    margin: 40px auto 0;
    border: 2px solid #9F353A;
    color: #9F354B;
    font-style: italic ;
}
{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 10px;
    right: 50px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: center;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}